{% extends 'base.html' %}

{% block title %}
Mein Blog
{% endblock title %}

{% block content %}
<header id="main-navigation">
    <h1><a href="">Ole's Blog</a></h1>
    <nav>
        <a href="">Alle Posts</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Ole Bause">
        <h2>OLE'S BLOG</h2>
    </header>
    <p>Hi, ich bin Ole und dies ist mein Blog!</p>
</section>

<section id="latest-posts">
    <h2>Meine neuesten Posts</h2>

    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Bildbeschreibung">
                    <div class="post__content">
                        <h3>Dummy Example Post</h3>
                        <p>Dies ist die Beschreibung zu diesem Dummy Post, um das Design zu testen.</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>Über mich</h2>
    <p>Beschreibung über mich + links</p>
    <p>Weiterer Text über mich</p>
</section>

{% endblock content %}
