{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock css_files %}

{% block content %}
{% if comment_form.errors %}
<div id="alert">
    <h3>Kommentar konnte nicht abgesendet werden</h3>
    <ul>
        {% for field in comment_form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    <a href="#comment-form">Fix!</a>
</div>
{% endif %}

<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in tags %}
        <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url 'read-later' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button>
                {% if saved_for_later %}
                Aus Liste entfernen
                {% else %}
                Post Speichern
                {% endif %}
            </button>
        </form>
    </div>
    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <address>Von <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
        <div>
            Zuletzt aktualisiert am <time>{{ post.date | date:"l, d. F o" }}</time>
        </div>
    </article>
</section>

<main>
    <p>
        {{ post.content|linebreaks }}
    </p>
</main>

<section id="comments">
    <h2>Kommentare</h2>
    <p>
        {% if comments.count == 0 %}
        Noch keine Kommentare vorhanden.
        {% endif %}
    </p>
    <ul>
        {% for comment in comments %}
        <li>
            <h2>{{ comment.name }}</h2>
            <time>{{ comment.date | date:"l, d. F o" }}</time>
            <p>
                {{ comment.body|linebreaks }}
            </p>
        </li>
        {% endfor %}
    </ul>
</section>

<section id="comment-form">
    <h2>Kommentar schreiben</h2>
    <form action="{% url "post-detail-page" post.slug %}" method="post">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control {% if field.errors %}invalid{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">Kommentar abschicken</button>
    </form>

</section>
{% endblock %}
