{% extends 'base.html' %}
{% load static %}

{% block title %}
Alle gemerten Posts
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock css_files %}

{% block content %}
<section id="stored-posts">
    {% if not has_posts %}
    <h1>Keine gemerten Posts</h1>
    {% else %}
    <h1>Alle gemerten Posts</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock %}
